# 忽略整个文件夹
.obsidian/

# 允许同步的部分（开关与样式）
!.obsidian/plugins/
!.obsidian/themes/
!.obsidian/snippets/
!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/hotkeys.json
!.obsidian/core-plugins.json
!.obsidian/community-plugins.json

# 必须忽略的部分（布局与缓存）
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/